<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="androidstudio.edbud.com.myapplication" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="login.Login"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="login.Register"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="ui.Homepage"
            android:label="@string/title_activity_navi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="ui.AddCourse" />
        <activity
            android:name="model.IndividualCourse"
            android:label="@string/title_activity_individual_course"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="ui.AddAssignment" />
        <activity
            android:name="model.Courses$CoursePage"
            android:label="@string/title_activity_course_page"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
